<!DOCTYPE html>
<html lang="pl">
    <head>
        <%- include('../components/globalHead.ejs') %>
        <title>Gwiazdy ZSI | Strona administracyjna</title>
        <link rel="stylesheet" href="/style/admin.css" />
    </head>

    <body>
        <header>
            <h1>Nowe zdjęcia</h1>
        </header>

        <a href="/newImages/runScraper">Run scraper</a>
    </body>
</html>
